:root {
  --greenish: #145f4a;
  --grayish: #d8d3c8;
  --redish: #d21525;
  --goldish: #d99704;
}
/* 
font-family: 'Mountains of Christmas', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Lily Script One', cursive; */

html, 
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;

}
.snow5{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .1;
  background-repeat: repeat;
  top: 100px;
  left:100px;
  animation:animateFive 20s infinite linear;
  animation-delay: 12;
  z-index: -1;
  

}
@keyframes animateFive {
  from {top: 0px;}
  to {top: 900px;}
}
.snow4{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .1;
  background-repeat: repeat;
  top: 100px;
  left:100px;
  animation:animateFour 25s infinite linear;  

}
@keyframes animateFour {
  from {top: 0px;}
  to {top: 900px;}
}
.snow3{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .1;
  background-repeat: repeat;
  top: 100px;
  left:100px;
  animation:animateThree 15s infinite linear;  

}
@keyframes animateThree {
  from {top: 0px;}
  to {top: 900px;}
}
.snow2{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .3;
  background-repeat: repeat;
  top: 50px;
  left:50px;
  animation:animateTwo 50s infinite linear;
  animation-delay: 2s;
}
@keyframes animateTwo {
  from {top: 450px;}
  to {top: 900px;}
}
.snow1{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .3;
  background-repeat: repeat;
  top: 0;
  left: 0;
}
.snow{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(pics/snow.png);
  opacity: .3;
  background-repeat: repeat;
  top: 0;
  left: 0;
  animation:animateOne 50s infinite linear;

}
@keyframes animateOne {
  from {top: 0px;}
  to {top: 450px;}
  
}
.lights{
  z-index: 2;
  max-height: 200px;
}
h1 {
  color: var(--goldish);
  font-family: 'Petit Formal Script', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 10px var(--redish);
  z-index: 3;
}

.container {
  background-color: var(--greenish);
  background-image: linear-gradient(to bottom right, var(--greenish), rgb(74, 145, 74));
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.countdown {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.countdown > div {
display: flex;
flex-direction: column;
padding: 10px;
text-align: center;
font-size: 100px;
}

.countdown > div > span{
  color: var(--redish);
  text-shadow: 2px 2px 10px var(--grayish);
  z-index: 2;
}

.countdown > div > span:nth-of-type(2){
  color: var(--grayish);
  font-family: 'Lily Script One', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 10px var(--goldish);
}